- title "Reset password"

.account
  - semantic_form_for @user, :url => password_reset_path(:id => @user.perishable_token) do |f|
    - f.inputs do
      = f.input :password
      = f.input :password_confirmation
    - f.buttons do
      = image_submit_tag ("/images/css/reset_password.png", :value => "Update my password and log me in")
