- title "Recover password"
- with_sidebar

.account  
  - form_tag password_resets_path do
    %table
      %tr
        %th= label_tag :email
        %td= text_field_tag :email
      %tr
        %th &nbsp;
        %td= image_submit_tag ("/images/css/request_password_reset.png", :value => "Request password reset")
      