.DS_Store
log/*.log
tmp/**/*
tmp/*
db/*.sqlite3
coverage/*
coverage.data
*.tmproj
mkmf.log
webrat-*.html
config/application.yml
public/stylesheets/master.css
public/javascripts/site.js
public/stylesheets/site.css
