#hd
  &.guest
    #logo
      :position relative
      a
        :background transparent url('/images/css/logo_guest.png') no-repeat left top
        :width 327px
        :height 236px
        :display block
        :position absolute
        :text-indent -9999px
        :outline none
        :top 10px
        :left 30px

    #banner
      :margin-top 5px
      .hd
        :background transparent url("/images/css/hd_top_corners.png") no-repeat left top
        .c
          :background transparent url("/images/css/hd_top_corners.png") no-repeat right top
          :margin-left 18px
          :height 18px
      .bd
        :background-color #ffdb71
      #phrase
        :text-indent -9999px
        :background transparent url("/images/css/slogan.jpg") no-repeat left top
        :height 109px
        :margin-left 400px
      #slogan
        :background transparent url("/images/css/hd_twitter_icon.png") no-repeat right top
        :margin-right 50px
        p
          :color #2C2E2E
          :font-size 138.5%
          :font-weight bold
          &.first
            :margin-top 35px
            :margin-left 220px
          &.second
            :margin-left 130px
          &.third
            :margin-top 10px
            :margin-left 50px
            :width 500px
            span 
              :color #D04409
        #sign-up
          :float right
          :background transparent url("/images/css/hd_sign_up_bg.png") no-repeat left top
          :width 225px
          :height 99px
          :margin -50px 80px -10px 0
          p
            :color #013334
            :text-align center
            &.first-line
              :font-size 108%
            &.second-line
              :font-size 93%
          a
            :display block
            :background transparent url("/images/css/hd_sign_up_button.png") no-repeat center top
            :width 188px
            :height 42px
            :text-indent -9999px
            :margin 15px auto 0 auto

  &.signed_in
    #logo
      :position relative
      a
        :background transparent url('/images/css/logo_signed_in.png') no-repeat left top
        :width 203px
        :height 146px
        :display block
        :position absolute
        :text-indent -9999px
        :outline none
        :top 10px
        :left 30px

    #banner
      :margin-top 5px
      .hd
        :background transparent url("/images/css/hd_top_corners.png") no-repeat left top
        .c
          :background transparent url("/images/css/hd_top_corners.png") no-repeat right top
          :margin-left 18px
          :height 18px
      .bd
        :background-color #ffdb71
      #phrase
        :text-indent -9999px
        :background transparent url("/images/css/slogan_signed_in.jpg") no-repeat left top
        :height 110px
        :margin-left 250px

  #login-bar
    :padding-top 50px
    ul
      :float right
      :margin-right 20px
      li
        :float left
        :color #FFFFFF
        :font-size 116%
        :margin-left 10px
        a
          :color #FFFFFF
          :font-weight bold
.green_bar
  :font-size 123.1%
  :font-weight bold
  :background url("/images/css/green_bar_01.png") no-repeat left top
  :padding 12px 0
  :margin -34px -20px 0 -10px
  :color #FFFFFF
  :padding-left 20px
    