#nav
  a
    :background transparent url("/images/css/sb_sprite.jpg") no-repeat left -98px
    :text-indent -9999px
    :width 221px
    :height 41px
    :display block
    :outline none
    :margin 0 0 20px 30px
.box
  :width 283px
  .hd
    :background transparent url("/images/css/sb_sprite.jpg") no-repeat center top
    :height 11px
  .bd
    :background transparent url("/images/css/sb_middle_borders.png") repeat-y center top
    :padding 5px 15px
  .ft
    :background transparent url("/images/css/sb_sprite.jpg") no-repeat center -11px
    :height 10px

#stats
  .percents
    :color #BF502B
    :font-size 116%
    .label
      :padding 3px 0 3px 20px
      &.i_have
        :background transparent url("/images/css/choices_sprite.jpg") no-repeat left 5px
      &.i_would
        :background transparent url("/images/css/choices_sprite.jpg") no-repeat left -44px
      &.i_would_never
        :background transparent url("/images/css/choices_sprite.jpg") no-repeat left -88px
    .percent
      :background transparent url("/images/css/sb_percent.png") no-repeat right top
      :height 17px
      :margin-bottom 5px
  h2
    :background transparent url("/images/css/sb_sprite.jpg") no-repeat left -52px
    :text-indent -9999px
    :height 26px
  .question
    :padding 5px
    
#did_you_know
  h2
    :background transparent url("/images/css/sb_sprite.jpg") no-repeat left -22px
    :text-indent -9999px
    :height 11px
  p
    :margin-top 10px