/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset ol li p.inline-hints { color:#333; }

--------------------------------------------------------------------------------------------------*/

form.formtastic fieldset ol li.string input,
form.formtastic fieldset ol li.password input { width: 200px; }

form.formtastic fieldset ol li label { 
  width: 180px; 
  text-align: right; 
  color: #000000; 
  font-weight: bold; 
  font-size: 116%;
  padding-right: 20px;}

form.formtastic fieldset ol li.boolean label {
  padding-left: 170px;
}

form.formtastic fieldset a {
  color: #DF793C;
  margin-left: 200px;
}

form.formtastic fieldset ol li label a {
  margin-left: 0px;
}
form.formtastic legend {
  color: #666666;
  margin-bottom: 20px;
}

form.formtastic fieldset ol li p.inline-errors { margin-left: 200px; }

form.formtastic fieldset ol li#user_tos_agreement_input p.inline-errors { margin-left: 170px; }

form.formtastic fieldset.inputs { padding-right: 20px; }
form.formtastic fieldset.buttons { padding-left: 200px; }


.account form.formtastic fieldset#twitter { padding-left: 0; margin-bottom: 20px;}
.account form.formtastic fieldset#twitter ol {
  margin-left: 200px;
}

form.formtastic fieldset ol li#user_tos_agreement_input label {
  padding-left:170px;
  text-align:left;
}

form.formtastic fieldset#twitter.buttons {
  padding-left: 0;
  margin: 50px 0 0 70px;
}

form.formtastic fieldset#twitter.buttons legend {
  margin-bottom: 0px;
}

form.formtastic fieldset#twitter.buttons legend span {
  background: transparent url("/images/css/register_twitter_icon.png") no-repeat right center;
  width: 250px;
  display: block;
  padding: 25px 0 10px 15px;
  color: #013334;
  font-size: 116%;
}

form.formtastic fieldset#twitter.buttons ol input.twitter_register {
  background: transparent url("/images/css/create_account_using_twitter.png") no-repeat left top;
  display: block;
  width: 265px;
  height: 42px;
  border: none;
  text-indent: -9999px;
  cursor: pointer;
  margin-top: -2px;
}

form.formtastic fieldset#twitter.buttons ol input.twitter_login {
  background: transparent url("/images/css/login_twitter.png") no-repeat left top;
  display: block;
  width: 265px;
  height: 43px;
  border: none;
  text-indent: -9999px;
  cursor: pointer;
  margin-top: -2px;
}

form.formtastic fieldset ol li.login_errors p.inline-errors { margin-left: 0; }