* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 1.1em;
	line-height: 1.8em;
	margin-bottom: 0.8em;
	font-family: Helvetica, sans-serif;
	background: url(/images/background_green.png) repeat-x top #788a52;
}

p, li {
	font-size: 1.0em;
	line-height: 1.3em;
	margin-bottom: 0.8em;
}

a {
	color: #e77307;
	text-decoration: none;
}


.clear {
	clear:both;
}

.clearfix {
    display: inline-block;
    margin: 0;
    padding: 0;
    display: block !important;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


div#page-wrap {
		width: 842px;
		margin: 0 auto;
	}
	div#page-wrap div#banner {
			height: 276px;
		}
		div#page-wrap div#banner div#logo {
			height: 276px;
			width: 334px;
			background: url(/images/header_background_left.jpg) no-repeat;
			float:left;
			}
			div#page-wrap div#banner div#banner-body {
				height: 276px;
				width: 508px;
				background: url(/images/header_background_right.jpg) no-repeat;
				float:right;
				}
				div#page-wrap div#banner div#banner-body div#login-bar{
/*					float:right;
*/					
					padding-top: 20px;
					padding-right: 15px;
					
					}
					div#page-wrap div#banner div#banner-body div#login-bar div#login{
						font-size: 0.7em;
						color: white;
						float:right;
						padding-top:7px;
						padding-right: 10px;
					}
					div#page-wrap div#banner div#banner-body div#login-bar div#nav{
						font-size: 0.9em;
						float:right;
						padding-top: 0px;
						padding-right: 15px;
						padding-bottom: 0px;
						padding-left: 15px;
						
					}
			div#page-wrap div#banner div#banner-body div#banner-slogan{
				color:#e77307;
				float:left;
/*				padding-top:80px;*/
				font-size: 1.8em;
				line-height: 1.2em;
				margin-bottom: 0.0em;
				margin-top:-15px;
/*				font-weight:bold;*/
				
			}
			div#page-wrap div#banner div#banner-body div#banner-container-inner{
				color:#cccccc;
			}
			div#page-wrap div#banner div#banner-body div#banner-container-inner-left{

				float:left;
				padding-left:10px;
				font-size: 0.8em;
				line-height: 1.0em;
				margin-bottom: 0.0em;
				
			}
			div#page-wrap div#banner div#banner-body div#banner-container-inner-right{
				width:232px;
				float:right;
			}
			div#banner-container-inner-right-text{
				text-align:right;
				margin-right:23px;
/*				border:1px solid yellow;*/
			}
			
			div#page-wrap div#banner div#banner-body div#banner-container-inner-right-button {
				text-align:right;
				margin-right:20px;
				background: url(/images/button_signup.png) no-repeat;
				width:114px;
				height:45px;
/*				border:5px solid white;*/
			}
			
			div#page-wrap div#banner div#banner-body div#banner-container-inner-right-button a {
				color:#243647;
				display:inline;
			}
			
			div#page-wrap div#banner div#banner-body div#banner-container-inner-right-button a img{
/*				background-position:center;*/
/*				color:#ffffff;
				padding-left:25%;
				float:right;
				margin: 0 auto;
				background: url(/images/button_signup.png) no-repeat;
				width:114px;
				height:45px;
				margin-left:25%;
				border:5px solid orange;
*/			}
			
			div#page-wrap div#banner div#banner-body div#banner-footer{
					text-align:left;
					color: #cccccc;
					font-size: 0.7em;
					line-height: 1.2em;
					margin-left: -120px;
					margin-right:40px;
					margin-top:25px;
/*					font-weight: bold;*/
			}
		

	div#page-wrap div#container {
		width: 817px;
		background: white;
		float: right;
		}
		div#page-wrap div#container div#left-col {
			float: left;
			width: 545px;
			margin-left: 10px;
			-webkit-border-radius:10px;
			-moz-border-radius:10px;
			}
			div#page-wrap div#container div#left-col div#stream, div#page-wrap div#container div#left-col ul#answers-list, ul#events-list {
					margin: 0 auto;
					list-style:none;
				}
				div#page-wrap div#container div#left-col div#answer-list-heading, div#event-list-heading{
					margin-top: 10px;
					color: #aaaaaa;
					padding: 1px;
					border-bottom: 4px solid #dddddd;
				}
				
				div#page-wrap div#container div#left-col ul#answers-list li{
					background: #f8f8f8;
					padding: 8px;
					border-bottom: 1px dotted #dddddd;
					color: #444444;
					-webkit-border-radius:8px;
					-moz-border-radius:8px;
				}
				div#page-wrap div#container div#left-col ul#events-list li{
					background: #f8f8f8;
					padding: 8px;
					border-bottom: 1px dotted #dddddd;
					color: #444444;
					-webkit-border-radius:8px;
					-moz-border-radius:8px;
				}
				div#page-wrap div#container div#left-col ul#answers-list div#user {
					float: left;
					}
					div#page-wrap div#container div#left-col ul#answers-list div#user img{
						border: 4px solid #444444;
						width: 40px; height: 40px;
						-webkit-border-radius:4px;
						-moz-border-radius:4px;
						}
					
				div#page-wrap div#container div#left-col ul#answers-list div#answer {
					margin-left: 58px;
					}
					div#page-wrap div#container div#left-col ul#answers-list div#answer div#answer-body {
						float: left;
						}

			div#page-wrap div#container div#left-col div#question {
				padding: 10px;
				background: #f8f8f8;
				border: 1px solid #dddddd;
				-webkit-border-radius:10px;
				-moz-border-radius:10px;
				}			
				div#page-wrap div#container div#left-col div#question div#user img{
					border: 4px solid #444444;
					width: 80px; height: 60px;
					-webkit-border-radius:4px;
					-moz-border-radius:4px;
				}
				div#nav{
					background: #e77307;
					float: right;
					padding: 6px;	
					-webkit-border-radius:4px;
					-moz-border-radius:4px;				
				}
				div#nav a{
					color: white;
					text-decoration: none;					
				}
				
			div#page-wrap div#container div#left-col h2#question-body {
				padding: 10px;
				color: #e77307;
			}
			
			div#page-wrap div#container div#left-col .pagination {
				text-align: center;
			}
			
		div#page-wrap div#container div#right-col {
			float: right;
			width: 245px;
/*			text-align:center;*/
			margin-right: 10px;
/*			border-top: 10px solid orange;*/
			}
			div#page-wrap div#container div#right-col div#nav {
/*				text-align:center;*/
				margin-top: 15px;
				margin-left: 10px;
/*				float: right;*/
			}
			
	div#page-wrap div#footer {
		padding: 20px;
		color: white;
		text-align: center;
		background: #243647;
	}