- title "#{@user.login}'s Activity"

%table#stream
  %tr
    %th Event
    %th
    %th
  
  - present_events(@events).each do |event|
    %tr{ :id => event.dom_id, :class => event.dom_class }
      %td= h event.body 
      %td<
        - event.when_answer do
          = event.choice
      %td= event.link_to_question("answer")
