/ #header_background
/   = link_to(image_tag('images/header_background.jpg'), '')
/ %p
#login-bar.clearfix
  / = link_to "Sign up", new_account_path if !current_user
  #nav
    = link_to "Log in!", new_user_session_path if !current_user
    = link_to "Log out", user_session_path, :method => 'delete' if current_user
  - if !current_user  
    #login
      Have an account?
#banner-container.clearfix
  #banner-slogan
    %p
    Have You Ever, Would You Ever ...
  #banner-container-inner.clearfix
    #banner-container-inner-left
      %p
      How daring are you?
      %p
      How well do you know your friends?
      %p
      Find out what others are thinking ... 
    #banner-container-inner-right.clearfix
      #banner-container-inner-right-text
        \... get curious!
      #banner-container-inner-right-button.clearfix
        /= link_to(image_tag('/images/button_signup_2.png'), new_account_path) if !current_user
        = link_to("Sign Up", new_account_path) if !current_user
#banner-footer
  %p
  HyeWye is a fun way to find out what you & your friends are all about.
  come in and start discovering what's in other people's minds.

