- title "Homepage"

#right-col
  #nav
    = link_to "ask a question", new_question_path

#left-col
  %table#stream
    %tr
      %th User
      %th Event
      %th
  
    - @events.each do |event|
      %tr{ :id => dom_id(event.target), :class => dom_class(event.target) }
        %td= link_to h(event.user.login), user_path(event.user)
        %td= h event.target.body 
        %td= link_to "answer", question_answers_path(question_for_event(event))
.clear
      