- title "Recent posts"      
- with_sidebar

#left-col
  %ul#events
    - @events.each_with_index do |event, index|
      = render_event(event.subject, :html => { :style => index < 20 ? "display:none" : nil })

- content_for :sidebar do
  #right-col
    - if !current_user
      #nav
        = link_to "Ask a question", new_question_path

    #did_you_know.box
      .hd
      .bd
        %h2 DID YOU KNOW...?
        %p ... that 28% of the people from New York City would have plastic surgery?
      .ft
