- title "Homepage"
%p
  = link_to "ask a question", new_question_path

%table#stream
  %tr
    %th Event
    %th
  
  - @events.each do |event|
    %tr{ :id => dom_id(event.target), :class => dom_class(event.target) }
      %td= h event.target.body 
      %td= link_to "answer", question_answers_path(question_for_event(event))
      