/ - title "Recent posts"

#left-col
  #event-list-heading
    Recent Posts:
  %ul#events
    - @events.each_with_index do |event, index|
      = render_event(event.subject, :html => { :style => index < 20 ? "display:none !important" : nil })

#right-col
  #nav
    = link_to "Ask a question", new_question_path
.clear


